In [5]:
import pandas as pd

In [6]:
X_train = pd.read_csv("./DatosPisa/X1_train.csv")
X_train.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_train = pd.read_csv("./DatosPisa/y1_train.csv")
y_train.rename(columns={'Unnamed: 0':'id'}, inplace=True)
train = pd.merge(X_train, y_train, on='id')
train = train.drop("id", axis=1)
print("train shape antes de borrar Nan: ", train.shape)
train.dropna(how='any', inplace=True)
print("train shape despues de borrar Nan: ", train.shape)
X_train = train.iloc[:,:-1]
y_train = train.iloc[:, -1:]



X_val = pd.read_csv("./DatosPisa/X1_val.csv")
X_val.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_val = pd.read_csv("./DatosPisa/y1_val.csv")
y_val.rename(columns={'Unnamed: 0':'id'}, inplace=True)
val = pd.merge(X_val, y_val, on='id')
val = val.drop("id", axis=1)
print("val shape antes de borrar Nan: ", val.shape)
val.dropna(how='any', inplace=True)
print("val shape despues de borrar Nan: ", val.shape)
X_val = val.iloc[:,:-1]
y_val = val.iloc[:, -1:]



X_test = pd.read_csv("./DatosPisa/X1_test.csv")
X_test.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_test = pd.read_csv("./DatosPisa/y1_test.csv")
y_test.rename(columns={'Unnamed: 0':'id'}, inplace=True)
test = pd.merge(X_test, y_test, on='id')
test = test.drop("id", axis=1)
print("test shape antes de borrar Nan: ", test.shape)
test.dropna(how='any', inplace=True)
print("test shape despues de borrar Nan: ", test.shape)
X_test = test.iloc[:,:-1]
y_test = test.iloc[:, -1:]

data = pd.concat([train, val, test])


train.to_csv('./DatosPisaSinNan/train.csv', sep=',', decimal='.', index=False)
X_train.to_csv('./DatosPisaSinNan/X_train.csv', sep=',', decimal='.', index=False)
y_train.to_csv('./DatosPisaSinNan/y_train.csv', sep=',', decimal='.', index=False)

val.to_csv('./DatosPisaSinNan/val.csv', sep=',', decimal='.', index=False)
X_val.to_csv('./DatosPisaSinNan/X_val.csv', sep=',', decimal='.', index=False)
y_val.to_csv('./DatosPisaSinNan/y_val.csv', sep=',', decimal='.', index=False)

test.to_csv('./DatosPisaSinNan/test.csv', sep=',', decimal='.', index=False)
X_test.to_csv('./DatosPisaSinNan/X_test.csv', sep=',', decimal='.', index=False)
y_test.to_csv('./DatosPisaSinNan/y_test.csv', sep=',', decimal='.', index=False)

data.to_csv('./DatosPisaSinNan/data.csv', sep=',', decimal='.', index=False)

train shape antes de borrar Nan:  (20152, 18)
train shape despues de borrar Nan:  (11492, 18)
val shape antes de borrar Nan:  (5039, 18)
val shape despues de borrar Nan:  (2905, 18)
test shape antes de borrar Nan:  (6298, 18)
test shape despues de borrar Nan:  (3526, 18)

In [7]:
print(f'El dataframe tiene un total de {len(data)} filas.')
len(data) - data.count() # vemos cuántos valores NaN hay por columna

El dataframe tiene un total de 17923 filas.

ST001D01T        0
ST013Q01TA       0
ST127Q01TA       0
ST127Q02TA       0
ST163Q02HA       0
ST163Q03HA       0
ST225Q03HA       0
ST225Q06HA       0
ST196Q02HA       0
IC152Q06HA       0
GRADE            0
REPEAT           0
BSMJ             0
METASUM          0
METASPAM         0
SCREADCOMP       0
PISADIFF         0
PISA_SCORE_AV    0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17923 entries, 0 to 6296
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ST001D01T      17923 non-null  float64
 1   ST013Q01TA     17923 non-null  float64
 2   ST127Q01TA     17923 non-null  float64
 3   ST127Q02TA     17923 non-null  float64
 4   ST163Q02HA     17923 non-null  float64
 5   ST163Q03HA     17923 non-null  float64
 6   ST225Q03HA     17923 non-null  float64
 7   ST225Q06HA     17923 non-null  float64
 8   ST196Q02HA     17923 non-null  float64
 9   IC152Q06HA     17923 non-null  float64
 10  GRADE          17923 non-null  float64
 11  REPEAT         17923 non-null  float64
 12  BSMJ           17923 non-null  float64
 13  METASUM        17923 non-null  float64
 14  METASPAM       17923 non-null  float64
 15  SCREADCOMP     17923 non-null  float64
 16  PISADIFF       17923 non-null  float64
 17  PISA_SCORE_AV  17923 non-null  float64
dtypes: float64(18)
memory usage: 2.6 MB

In [9]:
data.isnull().any() # vemos qué columnas tienen valores NaN

ST001D01T        False
ST013Q01TA       False
ST127Q01TA       False
ST127Q02TA       False
ST163Q02HA       False
ST163Q03HA       False
ST225Q03HA       False
ST225Q06HA       False
ST196Q02HA       False
IC152Q06HA       False
GRADE            False
REPEAT           False
BSMJ             False
METASUM          False
METASPAM         False
SCREADCOMP       False
PISADIFF         False
PISA_SCORE_AV    False
dtype: bool

In [10]:
data.head()

,ST001D01T,ST013Q01TA,ST127Q01TA,ST127Q02TA,ST163Q02HA,ST163Q03HA,ST225Q03HA,ST225Q06HA,ST196Q02HA,IC152Q06HA,GRADE,REPEAT,BSMJ,METASUM,METASPAM,SCREADCOMP,PISADIFF,PISA_SCORE_AV
0,10.0,6.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,5.0,0.0,0.0,70.34,0.59,0.42,0.1222,0.2705,533.270556
2,10.0,4.0,1.0,1.0,1.0,1.0,0.0,1.0,4.0,4.0,0.0,0.0,85.85,-1.72,-1.41,1.8839,-1.2720,483.984078
5,10.0,5.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,5.0,0.0,0.0,86.72,1.36,1.33,1.2374,-1.2720,549.683067
7,10.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,0.0,0.0,72.83,0.21,-0.04,0.1919,-1.2720,459.254700
12,10.0,5.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,5.0,0.0,0.0,76.49,0.98,-0.50,0.6994,0.2705,503.352778

In [11]:
data.shape

(17923, 18)

In [12]:
train.head()

,ST001D01T,ST013Q01TA,ST127Q01TA,ST127Q02TA,ST163Q02HA,ST163Q03HA,ST225Q03HA,ST225Q06HA,ST196Q02HA,IC152Q06HA,GRADE,REPEAT,BSMJ,METASUM,METASPAM,SCREADCOMP,PISADIFF,PISA_SCORE_AV
0,10.0,6.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,5.0,0.0,0.0,70.34,0.59,0.42,0.1222,0.2705,533.270556
2,10.0,4.0,1.0,1.0,1.0,1.0,0.0,1.0,4.0,4.0,0.0,0.0,85.85,-1.72,-1.41,1.8839,-1.2720,483.984078
5,10.0,5.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,5.0,0.0,0.0,86.72,1.36,1.33,1.2374,-1.2720,549.683067
7,10.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,0.0,0.0,72.83,0.21,-0.04,0.1919,-1.2720,459.254700
12,10.0,5.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,5.0,0.0,0.0,76.49,0.98,-0.50,0.6994,0.2705,503.352778

In [13]:
train.shape

(11492, 18)

In [14]:
X_train.head()

,ST001D01T,ST013Q01TA,ST127Q01TA,ST127Q02TA,ST163Q02HA,ST163Q03HA,ST225Q03HA,ST225Q06HA,ST196Q02HA,IC152Q06HA,GRADE,REPEAT,BSMJ,METASUM,METASPAM,SCREADCOMP,PISADIFF
0,10.0,6.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,5.0,0.0,0.0,70.34,0.59,0.42,0.1222,0.2705
2,10.0,4.0,1.0,1.0,1.0,1.0,0.0,1.0,4.0,4.0,0.0,0.0,85.85,-1.72,-1.41,1.8839,-1.2720
5,10.0,5.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,5.0,0.0,0.0,86.72,1.36,1.33,1.2374,-1.2720
7,10.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,0.0,0.0,72.83,0.21,-0.04,0.1919,-1.2720
12,10.0,5.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,5.0,0.0,0.0,76.49,0.98,-0.50,0.6994,0.2705

In [15]:
y_train.head()

    PISA_SCORE_AV
0      533.270556
2      483.984078
5      549.683067
7      459.254700
12     503.352778