Esto no vale, es el de Pisa y hay que adaptarlo a los datos de Riesgo

In [6]:
import pandas as pd

In [7]:
X_train = pd.read_csv("./DatosAbandono/X2_train.csv")
X_train.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_train = pd.read_csv("./DatosAbandono/y2_train.csv")
y_train.rename(columns={'Unnamed: 0':'id'}, inplace=True)
train = pd.merge(X_train, y_train, on='id')
train = train.drop("id", axis=1)
print("train shape antes de borrar Nan: ", train.shape)
train.dropna(how='any', inplace=True)
print("train shape despues de borrar Nan: ", train.shape)
X_train = train.iloc[:,:-1]
y_train = train.iloc[:, -1:]



X_val = pd.read_csv("./DatosAbandono/X2_val.csv")
X_val.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_val = pd.read_csv("./DatosAbandono/y2_val.csv")
y_val.rename(columns={'Unnamed: 0':'id'}, inplace=True)
val = pd.merge(X_val, y_val, on='id')
val = val.drop("id", axis=1)
print("val shape antes de borrar Nan: ", val.shape)
val.dropna(how='any', inplace=True)
print("val shape despues de borrar Nan: ", val.shape)
X_val = val.iloc[:,:-1]
y_val = val.iloc[:, -1:]



X_test = pd.read_csv("./DatosAbandono/X2_test.csv")
X_test.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_test = pd.read_csv("./DatosAbandono/y2_test.csv")
y_test.rename(columns={'Unnamed: 0':'id'}, inplace=True)
test = pd.merge(X_test, y_test, on='id')
test = test.drop("id", axis=1)
print("test shape antes de borrar Nan: ", test.shape)
test.dropna(how='any', inplace=True)
print("test shape despues de borrar Nan: ", test.shape)
X_test = test.iloc[:,:-1]
y_test = test.iloc[:, -1:]

data = pd.concat([train, val, test])


train.to_csv('./DatosAbandonoSinNan/train.csv', sep=',', decimal='.', index=False)
X_train.to_csv('./DatosAbandonoSinNan/X_train.csv', sep=',', decimal='.', index=False)
y_train.to_csv('./DatosAbandonoSinNan/y_train.csv', sep=',', decimal='.', index=False)

val.to_csv('./DatosAbandonoSinNan/val.csv', sep=',', decimal='.', index=False)
X_val.to_csv('./DatosAbandonoSinNan/X_val.csv', sep=',', decimal='.', index=False)
y_val.to_csv('./DatosAbandonoSinNan/y_val.csv', sep=',', decimal='.', index=False)

test.to_csv('./DatosAbandonoSinNan/test.csv', sep=',', decimal='.', index=False)
X_test.to_csv('./DatosAbandonoSinNan/X_test.csv', sep=',', decimal='.', index=False)
y_test.to_csv('./DatosAbandonoSinNan/y_test.csv', sep=',', decimal='.', index=False)

data.to_csv('./DatosAbandonoSinNan/data.csv', sep=',', decimal='.', index=False)

train shape antes de borrar Nan:  (19953, 41)
train shape despues de borrar Nan:  (15184, 41)
val shape antes de borrar Nan:  (4989, 41)
val shape despues de borrar Nan:  (3791, 41)
test shape antes de borrar Nan:  (6236, 41)
test shape despues de borrar Nan:  (4768, 41)

In [8]:
print(f'El dataframe tiene un total de {len(data)} filas.')
len(data) - data.count() # vemos cu√°ntos valores NaN hay por columna

El dataframe tiene un total de 23743 filas.

OCOD3           0
SENWT           0
CNTSCHID        0
BSMJ            0
ST001D01T       0
GCSELFEFF       0
PV8RTSN         0
PV10RCER        0
MASTGOAL        0
PV4RCER         0
GCAWARE         0
PV4RTML         0
PV10RTSN        0
PV4RCLI         0
PV1RCER         0
PV7RCUN         0
PV1RTML         0
PV3RCUN         0
PV5RTSN         0
PV6RTSN         0
PV8RTML         0
PV3RCER         0
PV9RCLI         0
PV8RCLI         0
PV9MATH         0
PV6RTML         0
PV9READ         0
PV8RCUN         0
PV3READ         0
PV3RTSN         0
PV2RTSN         0
PV1GLCM         0
PV7RCER         0
PV8RCER         0
PV9RTSN         0
PV10RTML        0
PV6RCER         0
PV5RCUN         0
PV10RCLI        0
PV7RTML         0
DROPOUT_RISK    0
dtype: int64

In [9]:
data.isna().sum().sort_values()

OCOD3           0
PV9RCLI         0
PV8RCLI         0
PV9MATH         0
PV6RTML         0
PV9READ         0
PV8RCUN         0
PV3READ         0
PV3RTSN         0
PV2RTSN         0
PV1GLCM         0
PV7RCER         0
PV8RCER         0
PV9RTSN         0
PV10RTML        0
PV6RCER         0
PV5RCUN         0
PV10RCLI        0
PV3RCER         0
PV7RTML         0
PV8RTML         0
PV5RTSN         0
SENWT           0
CNTSCHID        0
BSMJ            0
ST001D01T       0
GCSELFEFF       0
PV8RTSN         0
PV10RCER        0
MASTGOAL        0
PV4RCER         0
GCAWARE         0
PV4RTML         0
PV10RTSN        0
PV4RCLI         0
PV1RCER         0
PV7RCUN         0
PV1RTML         0
PV3RCUN         0
PV6RTSN         0
DROPOUT_RISK    0
dtype: int64

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23743 entries, 0 to 6233
Data columns (total 41 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OCOD3         23743 non-null  int64
 1   SENWT         23743 non-null  float64
 2   CNTSCHID      23743 non-null  float64
 3   BSMJ          23743 non-null  float64
 4   ST001D01T     23743 non-null  float64
 5   GCSELFEFF     23743 non-null  float64
 6   PV8RTSN       23743 non-null  float64
 7   PV10RCER      23743 non-null  float64
 8   MASTGOAL      23743 non-null  float64
 9   PV4RCER       23743 non-null  float64
 10  GCAWARE       23743 non-null  float64
 11  PV4RTML       23743 non-null  float64
 12  PV10RTSN      23743 non-null  float64
 13  PV4RCLI       23743 non-null  float64
 14  PV1RCER       23743 non-null  float64
 15  PV7RCUN       23743 non-null  float64
 16  PV1RTML       23743 non-null  float64
 17  PV3RCUN       23743 non-null  float64
 18  PV5RTSN       23743 non-null  float64
 19  PV6RTSN       23743 non-null  float64
 20  PV8RTML       23743 non-null  float64
 21  PV3RCER       23743 non-null  float64
 22  PV9RCLI       23743 non-null  float64
 23  PV8RCLI       23743 non-null  float64
 24  PV9MATH       23743 non-null  float64
 25  PV6RTML       23743 non-null  float64
 26  PV9READ       23743 non-null  float64
 27  PV8RCUN       23743 non-null  float64
 28  PV3READ       23743 non-null  float64
 29  PV3RTSN       23743 non-null  float64
 30  PV2RTSN       23743 non-null  float64
 31  PV1GLCM       23743 non-null  float64
 32  PV7RCER       23743 non-null  float64
 33  PV8RCER       23743 non-null  float64
 34  PV9RTSN       23743 non-null  float64
 35  PV10RTML      23743 non-null  float64
 36  PV6RCER       23743 non-null  float64
 37  PV5RCUN       23743 non-null  float64
 38  PV10RCLI      23743 non-null  float64
 39  PV7RTML       23743 non-null  float64
 40  DROPOUT_RISK  23743 non-null  int64
dtypes: float64(39), int64(2)
memory usage: 7.6 MB

In [11]:
data.isnull().any() # vemos qu√© columnas tienen valores NaN

OCOD3           False
SENWT           False
CNTSCHID        False
BSMJ            False
ST001D01T       False
GCSELFEFF       False
PV8RTSN         False
PV10RCER        False
MASTGOAL        False
PV4RCER         False
GCAWARE         False
PV4RTML         False
PV10RTSN        False
PV4RCLI         False
PV1RCER         False
PV7RCUN         False
PV1RTML         False
PV3RCUN         False
PV5RTSN         False
PV6RTSN         False
PV8RTML         False
PV3RCER         False
PV9RCLI         False
PV8RCLI         False
PV9MATH         False
PV6RTML         False
PV9READ         False
PV8RCUN         False
PV3READ         False
PV3RTSN         False
PV2RTSN         False
PV1GLCM         False
PV7RCER         False
PV8RCER         False
PV9RTSN         False
PV10RTML        False
PV6RCER         False
PV5RCUN         False
PV10RCLI        False
PV7RTML         False
DROPOUT_RISK    False
dtype: bool

In [12]:
data.head()

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV1GLCM,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML,DROPOUT_RISK
0,5312,0.12762,72400642.0,24.98,9.0,-0.3942,454.112,521.570,-1.7101,482.296,...,515.221,432.307,439.821,417.673,418.863,501.880,493.764,532.562,500.678,0
1,2341,0.11360,72400299.0,76.49,10.0,-0.9245,555.810,621.970,-0.0940,573.922,...,581.228,671.652,605.917,604.273,528.853,617.100,612.626,595.217,567.502,0
2,110,0.12794,72400127.0,60.92,8.0,-0.4038,610.075,513.757,1.8524,580.198,...,562.724,575.387,594.244,610.115,533.581,570.786,597.612,574.027,571.532,0
3,5411,0.03512,72400661.0,46.38,9.0,-0.4720,355.136,332.079,-0.4347,394.915,...,366.160,362.860,352.015,302.830,360.158,362.000,330.098,280.031,348.090,0
4,3411,0.42566,72400155.0,57.00,10.0,-0.1247,545.486,475.272,1.1969,662.077,...,616.622,526.312,605.057,503.340,525.220,485.852,613.356,519.077,555.490,0

In [13]:
data.shape

(23743, 41)

In [14]:
train.head()

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV1GLCM,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML,DROPOUT_RISK
0,5312,0.12762,72400642.0,24.98,9.0,-0.3942,454.112,521.570,-1.7101,482.296,...,515.221,432.307,439.821,417.673,418.863,501.880,493.764,532.562,500.678,0
1,2341,0.11360,72400299.0,76.49,10.0,-0.9245,555.810,621.970,-0.0940,573.922,...,581.228,671.652,605.917,604.273,528.853,617.100,612.626,595.217,567.502,0
2,110,0.12794,72400127.0,60.92,8.0,-0.4038,610.075,513.757,1.8524,580.198,...,562.724,575.387,594.244,610.115,533.581,570.786,597.612,574.027,571.532,0
3,5411,0.03512,72400661.0,46.38,9.0,-0.4720,355.136,332.079,-0.4347,394.915,...,366.160,362.860,352.015,302.830,360.158,362.000,330.098,280.031,348.090,0
4,3411,0.42566,72400155.0,57.00,10.0,-0.1247,545.486,475.272,1.1969,662.077,...,616.622,526.312,605.057,503.340,525.220,485.852,613.356,519.077,555.490,0

In [15]:
train.shape

(15184, 41)

In [16]:
X_train.head()

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV2RTSN,PV1GLCM,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML
0,5312,0.12762,72400642.0,24.98,9.0,-0.3942,454.112,521.570,-1.7101,482.296,...,473.974,515.221,432.307,439.821,417.673,418.863,501.880,493.764,532.562,500.678
1,2341,0.11360,72400299.0,76.49,10.0,-0.9245,555.810,621.970,-0.0940,573.922,...,539.508,581.228,671.652,605.917,604.273,528.853,617.100,612.626,595.217,567.502
2,110,0.12794,72400127.0,60.92,8.0,-0.4038,610.075,513.757,1.8524,580.198,...,547.678,562.724,575.387,594.244,610.115,533.581,570.786,597.612,574.027,571.532
3,5411,0.03512,72400661.0,46.38,9.0,-0.4720,355.136,332.079,-0.4347,394.915,...,357.155,366.160,362.860,352.015,302.830,360.158,362.000,330.098,280.031,348.090
4,3411,0.42566,72400155.0,57.00,10.0,-0.1247,545.486,475.272,1.1969,662.077,...,576.587,616.622,526.312,605.057,503.340,525.220,485.852,613.356,519.077,555.490

In [17]:
y_train.head()

   DROPOUT_RISK
0             0
1             0
2             0
3             0
4             0

In [18]:
y_train.DROPOUT_RISK.value_counts()

0    14795
1      376
2       13
Name: DROPOUT_RISK, dtype: int64